  - name: nri-redis-{{ integration_redis_hostname }}-{{ integration_redis_port }}
    env:
      HOSTNAME: {{ integration_redis_hostname }}
      PORT: {{ integration_redis_port }}

      {% if integration_redis_username %}
      USERNAME: {{ integration_redis_username }}
      PASSWORD: {{ integration_redis_password }}
      {% endif %}

      # New users should leave this property as `true`, to identify the
      # monitored entities as `remote`. Setting this property to `false` (the
      # default value) is deprecated and will be removed soon, disallowing
      # entities that are identified as `local`.
      # Please check the documentation to get more information about local
      # versus remote entities:
      # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
      REMOTE_MONITORING: true

      # New users should leave this property as `true`, to uniquely identify the monitored entities when using
      # Unix sockets.
      USE_UNIX_SOCKET: true

      {% if integration_redis_use_tls %}
      USE_TLS: true
      TLS_INSECURE_SKIP_VERIFY: true
      {% endif %}

    interval: 60s
    {% if integration_redis_labels %}
    labels:
      {%- for k, v in integration_redis_labels.items() +%}
        {{ k }}: {{ v }}
      {%- endfor -%}
    {% else %}
    labels: {}
    {% endif %}
